CompileFlags:
  Add:
    - -std=c++20
    - -stdlib=libc++
    - -fuse-ld=lld
    - -target
    - x86_64-w64-mingw32
    - -mno-ms-bitfields
    - -isystem C:/msys64/clang64/include/c++/v1
    - -isystem C:/msys64/clang64/include